// bower:scss
// endbower

body {
	margin: 0;
}

// .new-views {
// 	background: url('http://thewhistlingpigsmokehouse.townsquareinteractive.com/files/2013/08/mediumred.jpg');
// 	background-size: cover;

// }

// sign-in and sign-up start, end at 72
.header {
	border: 1px solid black;
	width: 100%;
	height: 80px;
	text-align: center;
	line-height: 70px;
}

.logo {
	float: left;
}

.container {
	border: 1px solid black;
	width: 30%;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	background: white;

}

.sign {
	display: block;
	margin-top: 20px;
	text-align: center;
	font-size: 30px;
} 

.username {
	display: block;
	width: 60%;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

.password {
	display: block;
	width: 60%;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

.sign-in-button {
	display: block;
	margin-top: 30px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.sign-up {
	display: block;
	margin-top: 50px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
}

.sign-up-button {
	display: block;
	margin-top: 30px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

// sign-in and sign-up end

// main start, ends at 165

.main-header {
    border: 1px solid black;
    width: 100%;
    height: 140px;
    text-align: center;
    line-height: 2.6em;
    background: white;
}

.main-logo {
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
}

.main-user {
    float: right;
    height: 10px;
    font-size: 15px;
    margin-right: 20px;
}

.main-login {
	float: left;
	font-size: 15px;
	margin-left: 20px;
}

.main-signout {
	float: right;
	font-size: 15px;
	margin-right: 20px;
}

.beer-button {
    margin-left: 170px;
    cursor: pointer;
}

.beer {
	float: left;
}

.main-beer-des {
    width: 200px;
    float: left; 
    margin-top: 60px;
    display: inline-block;
    background: white;
}

.main-user-name {
    float: left;
    width: 130px;
    margin-top: 60px;
    margin-left: 10px;
    display: inline-block;
}

.main-score {
    display: inline-block;
    margin-top: 60px;
    width: 200px;
    float: left;
}

.main-delete-button {
    float: right;
    display: inline-block;
    cursor: pointer;
}

.up-arrow {
    display: inline-block;
    float: right;
    padding-top: 50px;
    margin-right: 10px;
    cursor: pointer;
}

.down-arrow {
	display: block;
	float: right;
	padding-top: 50px;
	margin-right: 10px;
	cursor: pointer;
}

.main-container {
    border: 1px solid black;
    font-size: 40px;
    width: 75%;
    height: 800px;
    float: right;
}

.main-contents {
    border: 1px solid black;
    height: 150px;
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
    background: white;
}

.main-sidebar {
    border: 1px solid black;
    width: 23%;
    height: 800px;
    float: left; 
    background: white;
}

.main-footer {
    border: 1px solid black;
    margin-top: 840px;
    width: 100%;
    height: 60px;
    display: block;
    background: white;
}

.place-list {
	margin-left: 10px;
	cursor: pointer;
}

//main end

//add beer view start, ends on 212 

.add-beer-header {
	border: 1px solid black;
	text-align: center;
	line-height: 70px;
	width: 100%;
	height: 80px;
}

.add-beer-user {
	float: right;
	font-size: 15px;
	margin-top: 35px;
	margin-right: 10px;
}

.add-beer-logo {
	float: left;
}

.add-beer-home {
	float: right;
}

.add-beer-container {
	border: 1px solid black;
	font-size: 15px;
	width: 75%;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}

.add-beer-img {
	margin-top: 10px;
}

.add-beer-submit {
	margin-top: 20px;
	display: inline-block;
}

.add-beer-footer {
	border: 1px solid black;
	margin-top: 18px;
	height: 50px;
}

.searchField {
	display: inline-block;
    width: 200px;
    margin-top: 20px;
    margin-left: 30px;
}

#theForm {
	display: inline-block;
}

#results {
    display: none;
    position: absolute;
    width: 500px;
    height: 250px;
    overflow: scroll;

}

#results div {
    position: absolute;
    width: 500px; 
    height: 15px;
    cursor: pointer;
    margin-left: 30px;
}
#results div span {
    color: red;
    font-weight: bold;
}

#search-brewery {
	display: inline-block;
	margin-top: 20px;
	margin-left: 30px;
}

.brewery-style {
	display: block;
}

//add beer ends

//user view starts and ends on 296

.user-header {
	border: 1px solid black;
	text-align: center;
	width: 100%;
	height: 80px;
	line-height: 70px;
}

.user-logo {
	float: left;
}

.user-home-button {
	float: right;
}

.user-container {
	border: 1px solid black;
	width: 70%;
	height: 800px;
	float: right;
}

.user-contents {
	border: 1px solid black;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.user-example {
	float: right;
	width: 800px;
	margin-top: 75px;
}

.user-score {
	float: right;
	width: 400px;
}

.user-contents-again {
	border: 1px solid black;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.user-sidebar {
	border: 1px solid black;
	width: 28%;
	height: 800px;
	float: left;
}

.user-sidebar img {
	width: 100%;
}

.user-name {
	text-align: center;
	font-size: 30px;
	margin-top: 20px;
}

.user-date {
	text-align: center;
	font-size: 25px;
	margin-top: 10px;
}

.user-score2 {
	text-align: center;
	font-size: 25px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.user-footer {
	border: 1px solid black;
	width: 100%;
	height: 80px;
	margin-top: 840px;
}

//user view ends
