
h1 {
	border: 1px solid black;
	text-align: center;
	line-height: 70px;
	width: 100%;
	height: 80px;
}

.user {
	float: right;
	font-size: 15px;
	margin-top: 35px;
	margin-right: 10px;
}

.logo {
	float: left;
}

.container {
	border: 1px solid black;
	text-align: center;
	font-size: 30px;
	line-height: 50px;
	width: 75%;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}

.beer {
	margin-top: 10px;
}

button {
	margin-bottom: 20px;
}

.footer {
	border: 1px solid black;
	margin-top: 18px;
	height: 50px;
}